/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
    text-decoration: none;
}
body{
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
    background-color: #1b1b1d;
}
main, aside{
    display: inline-block;
}
main{
    width: 662px;
    float:left;
}
aside{
    width: 275px;
    float: right;
}
input{
    color: #666666;
    font: 400 11px / 16px Tahoma;
    vertical-align: middle;
}
.center{
    width: 960px;
    margin: 0 auto;
}
.auth_bar{
    margin: 17px 0 16px 0;
    color: #666666;
    float:right;
    display: inline-block;
}
.gobutton, .slider_content h4{
    border: none;
    display: inline-block;
    border-radius: 4px;
    padding: 0 10px 10px;
    height: 24px;
    cursor:pointer;
    background: -webkit-linear-gradient(-90deg, #92cf02 0%, #78a804 100%);
    background: -moz-linear-gradient(-90deg, #92cf02 0%, #78a804 100%);
    background: -o-linear-gradient(-90deg, #92cf02 0%, #78a804 100%);
    background: -ms-linear-gradient(-90deg, #92cf02 0%, #78a804 100%);
    background: linear-gradient(180deg, #92cf02 0%, #78a804 100%);
    color: #ffffff;
    font: 700 13px / 24px Calibri;
}
nav{
    
    height:212px;
    clear: right;
    background-color: #1b1b1d;
    border-radius: 6px;
}

.main_navbar{
    margin-left: 24px;
    display: table;
    height: 45px;
}
.main_navbar li > a, .head_navbar li > a, .slider_content h4 > a{
    color: #ffffff;
}
.main_navbar li{
    color: #93d100;
    font: 400 14px Calibri;
    padding-right: 44px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}
.main_navbar li a:hover, .footer_navbar li a:hover{
    color: #9ddf00;
}

.nav_title{
    background-color: #2f2f31;
    height: 109px;
}
.nav_title h1{
    font: 600 30px / 70px Calibri;
    color: #ffffff;
    float:left;
    margin-left: 26px;
    margin-top: 18px;

}
.game{
    color: #92cf02;
}
.nav_title img{
    margin-top: 18px;
    margin-bottom: 21px;
    margin-right: 10px;
    float:right;
}
.head_navbar{
    background: -webkit-linear-gradient(-90deg, #92cf02 0%, #78a804 100%);
    border-radius: 0 0 6px 6px;
    height: 58px;
}
.head_navbar li{
    -webkit-box-shadow: inset -2px 2px 0px -1px rgba(180,219,42,1);
    -moz-box-shadow: inset -2px 2px 0px -1px rgba(180,219,42,1);
    box-shadow: inset -2px 2px 0px -1px rgba(180,219,42,1);
    padding: 0 25px;
    font: 700 18px / 58px Calibri;
    float:left;
}
/*experimenting with a more exact representation of the damn shadow effect in psd
.head_navbar li:nth-child(n+2):nth-child(-n+5){
    -webkit-box-shadow: inset 2px 0px 0px -1px rgba(140,197,1,1);
    -moz-box-shadow: inset 2px 0px 0px -1px rgba(140,197,1,1);
    box-shadow: inset -2px 0px 0px -1px rgba(140,197,1,1);
}*/
.head_navbar li:last-child{
    -webkit-box-shadow: inset 0px 2px 0px -1px rgba(180,219,42,1);
    -moz-box-shadow: inset 0px 2px 0px -1px rgba(180,219,42,1);
    box-shadow: inset 0px 2px 0px -1px rgba(180,219,42,1);
    shadow: none;
    float: none;
}
.head_navbar li input{
    margin-left: 100px;
    width:225px;
}
.head_navbar li:nth-child(-n+5):hover{
    background-color: white;
}
.head_navbar li:nth-child(-n+5):hover > a{
    color: #424242;
}
.adv_section {
    margin-top: 20px;
    display: inline-block;
    background-color: #363638;
    border-radius: 6px;
}
.slider_pic {
    float:left;
}
.slider_pic img{
    margin-right: 17px;
    border-radius: 6px 0px 0px 0px;
}
.slider_content{
    padding: 17px 10px 12px 19px;
}
.slider_content h3{
    color: #9ddf00;
    font: 700 18px / 24px Calibri; 
}
.slider_content h2{
    margin-top: 20px;
    color: #ffffff;
    font: 700 20px / 24px Calibri;
}
.slider_content p{
    color: #afafaf;
    font: 400 14px / 16px Calibri;
    margin-top: 17px;
}
.slider_content h4{
    margin-top: 17px;
}
.news_collection, article{
    padding-bottom: 10px;
    width:662px;
    background-color: #252526;
    border-radius: 6px;
}
.news_collection h3, .side_title, article h3{
    padding-left: 17px;
    color: #ffffff;
    font: 700 18px / 46px Calibri;
    background-color: #2d2d2f;
    border-radius: 6px 6px 0 0;
}
.news_items div{
    width: 110px;
    display: inline-block;
    margin: 25px;
}
/*3 level selector needed here, to avoid breeding classes on each item*/
.news_items div > a {
    display: block;
}
.news_items div a > img{
    border: solid 3px #dddddd;
    border-radius: 15px;
}
.item_title{
    color: #9ddf00;
    font: 700 14px / 16px Calibri;
}
.item_categ{
    color: #afafaf;
    font: 400 12px / 18px Calibri;
}
.news_items hr{
    margin-top: -15px;
}
.load_more a{
    padding-left:  23px;
    color: #9ddf00;
    font: 700 16px / 24px Calibri;
}

.art_categ a, .page_navbar a, .art_comments a{
    text-decoration: underline;
    color: #9ddf00;
}
.article_meta p{
    margin: 15px 23px 15px ;
    color: #9a9a9a;
    font: 400 12px / 16px Calibri;
    display: inline-block;
}
.art_pubdate{
    float:right;
}
.art_categ{
    float: left;
}
.art_entry{
    display: inline-block;
}
.art_pic{
    margin-left: 23px;
    margin-right: 23px;
    float:left;
 }
.art_title{
    color: #9ddf00;
    font: 700 16px / 16px Calibri;
    margin-bottom: 15px;
    margin-left: 23px;
}
.art_subject{
    color: #ffffff;
    font: 700 18px / 18px Calibri;
    margin-bottom: 17px;
    margin-left: 23px;
}
.art_text{
    margin-left: 23px;
    color: #afafaf;
    font: 400 14px / 14px Calibri;
    margin-bottom: 19px;
}
.art_btn{
    margin-left: 23px;
}
.art_btn a{
    border: none;
    display: inline-block;
    border-radius: 4px;
    padding: 0 24px 0 25px;
    height: 28px;
    cursor:pointer;
    background: -webkit-linear-gradient(-90deg, #414141 0%, #363636 100%);
    background: -moz-linear-gradient(-90deg, #414141 0%, #363636 100%);
    background: -o-linear-gradient(-90deg, #414141 0%, #363636 100%);
    background: -ms-linear-gradient(-90deg, #414141 0%, #363636 100%);
    background: linear-gradient(180deg, #414141 0%, #363636 100%);
    color: #ffffff;
    font: 700 13px / 28px Calibri;
}
.art_footer{
    margin-top: 12px;
    height: 25px;
}
.art_rating, .art_comments{
    color: #9a9a9a;
    font: 400 12px / 16px Calibri;
}
.art_rating{   
    vertical-align: top;
    float:left;
    margin-left: 23px;
}
.art_comments{
    display: inline-block;
    margin-left: 66px;
}

.page_navbar{
    text-align: center;
    width: 662px;
}
.page_navbar li{
    height: 22px;
    display: inline-block;
    margin: 20px 0 0 20px;
    font: 400 14px / 16px Calibri;
    
}
.page_navbar .current_page{
    text-align: center;
    padding-top: 3px;
    display: inline-block;
    height: 22px;
    min-width: 22px;
    background: -webkit-linear-gradient(90deg, #e6e6e6 0%, #ffffff 100%);
    background: -moz-linear-gradient(90deg, #e6e6e6 0%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #e6e6e6 0%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #e6e6e6 0%, #ffffff 100%);
    background: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
    border-radius: 6px;
    color: #1f1f1f;
    text-decoration: none;
    font: 400 14px / 16px Calibri;
}
.page_navbar, .news_collection, article{
    margin-top: 27px;
    float:left;
}
.side_block{
    padding-bottom: 20px;
    background-color: #252526;
    border-radius: 6px;
    margin-top: 27px;
}
.side_block div{
    padding-left: 16px;    
}
.side_block > img{
    display:block;
    margin: 25px auto 11px auto;
}
.side_block li {
    margin-left: 16px;
    padding-top: 5px;
    display: inline-block;
    list-style: none;
    border-bottom: 1px #9ddf00 dotted;
}
.side_block li a{
    color: #9ddf00;
    font: 700 14px / 17px Calibri;
}
.top_users{
    margin: 24px auto 0 auto;
}
.top_users img{
    margin-right: 9px;
    float:left;
}
.top_user_name {
    color: #9ddf00;
    font: 400 14px / 16px Calibri;
}
.top_user_text{
    color: #afafaf;
    font: 400 14px / 16px Calibri;
}
footer{
    margin-top: 27px;
    width: 960px;
    clear: both;
    display: inline-block;
}
.footer_navbar li {
    display: inline-block;
    float:left;
    margin-left: 23px;
    margin-right: 40px;
}
.footer_navbar a{
    color: #a7a7a7;
    font: 400 14px / 24px Calibri;
}
.footer_title{
    margin-right: 10px;
    float:right;
}
.footer_title h1{
    color: #ffffff;
    font: 700 30px / 24px Calibri;
}
.footer_title p{
    text-align: right;
    color: #9a9a9a;
    font: 400 12px / 16px Calibri;
}
